.checkout nav {
  position: sticky;
  top: 0;
  background-color: #e2133a;
  box-shadow: 0px 3px 6px #e8e8e8;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 100;
  margin-bottom: 1rem;
}
.newOld h3 {
  padding: 1rem;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.checkout nav ion-icon {
  font-size: 1.4rem;
  color: #fff;
}

.checkout__Empty {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

.checkout__Empty h2 {
  color: #9e9e9e;
  font-size: 18px;
  font-weight: 300;
}

.checkout hr {
  background-color: #dad8d8;
  border: none;
  height: 1px;
  margin: 1rem;
}

.checkout__Total {
  margin: 2rem 1rem;
}

.checkout__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 300;
}

.checkout__Total h1 {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
}

.checkout__Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout__Title p {
  color: #6e6e6e;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

.activeOrderCheck {
  color: #009688;
  font-size: 120%;
  position: relative;
  left: 6px;
  bottom: 1px;
}

.checkout__Title p span::before {
  content: "\20B9";
  font-size: 80%;
  padding-right: 0.1em;
}

.activeOrderSection,
.activeOrderSection .checkoutProduct__title,
.activeOrderSection .checkoutCustomizedLink,
.activeOrderSection .checkoutProduct__price,
.activeOrderSection .variantName {
  color: #a5a5a5 !important;
}

.activeOrderSection .nonVegSymbol {
  opacity: 0.3 !important;
}

.orderInfoTotal {
  color: #000000 !important;
  font-family: "roboto", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.orderInfoTotal::after {
  content: "\207A";
}

.emptyCartIcon {
  filter: grayscale(100%);
  opacity: 0.4;
  width: 25%;
}

.checkout {
  padding-bottom: 50px;
}

.cssload-container.grey-bg {
  background-color: #d6d6d6;
}

.commentsWrapper {
  margin: 3px 1rem 0 1rem;
  border: 1px solid #dad8d8;
  padding: 10px 15px;
}

.commentsWrapper form {
  margin: 0;
}

.commentsWrapper form input {
  width: 100%;
  border: none;
  padding: 0;
}

.commentsWrapper form input:focus {
  outline: none;
}

.noteToChef{
  font-size: 14px;
  font-weight: 500;
  margin-left: 16px;
}





/*Peer Code Enter*/

.login {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
}

.login__Bg {
  height: 100%;
  background-color: #e2133a;
}

.login img {
  width: 100%;
}

.login__LogoWrapper {
  width: 200px;
  margin: 0 auto;
  position: relative;
  top: 8%;
}

.login__bgWrapper {
  display: none;
}

.login__bgWrapper img {
  display: none;
}

.start_btn {
  display: none;
}

.login_Form {
  display: none;
}

.touchNone {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 5;
}

@media only screen and (max-width: 480px) {
  .desktop_Msg {
    display: none;
  }

  .login__bgWrapper {
    display: block;
  }

  .login__bgWrapper img {
    display: block;
  }

  .start_btn {
    display: block;
  }

  .login_Form {
    display: block;
  }

  .login__bgWrapper {
    position: relative;
    top: 100px;
    width: 90%;
    margin: 0 auto;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* height: 250px; */
  }

  .lady_Wrapper {
    width: 120px;
    position: absolute;
    z-index: 2;
    animation: ladymove 1s ease-in;
    animation-delay: 5s;
    animation-fill-mode: both;
  }

  @keyframes ladymove {
    from {
      top: 100px;
      left: 40px;
    }
    to {
      top: 95px;
      left: 50px;
    }
  }

  .table_Wrapper {
    width: 250px;
    position: absolute;
    left: 70px;
    top: 100px;
    z-index: 1;
  }

  .man_Wrapper {
    width: 120px;
    position: absolute;
    z-index: 2;
    transform: rotate(-7deg);
    animation: manmove 0.6s ease-in;
    animation-delay: 3s;
    animation-fill-mode: both;
  }

  @keyframes manmove {
    from {
      top: 10px;
      left: 195px;
    }
    to {
      top: 10px;
      left: 189px;
    }
  }

  .flower_Wrapper {
    position: relative;
    top: 115px;
    left: 190px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    animation: flowermove 2s ease-in;
    animation-delay: 5s;
    animation-fill-mode: both;
  }

  @keyframes flowermove {
    from {
      visibility: hidden;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }

  .flower_Wrapper img {
    width: 30px;
  }

  .start_btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 8;
  }

  .start_btn button {
    outline: none;
    border: none;
    background-color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #e2133a;
  }

  .login_Form {
    position: fixed;
    bottom: -100%;
    width: 100%;
    height: 50%;
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    z-index: 10;
    padding: 1rem 2rem;
    border-top: 4px solid #049688;
    border-radius: 0 !important;
    transition: all 650ms cubic-bezier(0, 0.52, 0.7, 1);
  }

  .login_Form.open {
    /* display: block; */
    bottom: 0;
  }

  .login_Form.close {
    bottom: -100%;
    transition: all 2s cubic-bezier(0, 0.52, 0.7, 1);
  }

  .login_Form .login_Title h3 {
    color: #e2133a;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
  }

  .login_Form form {
    display: flex;
    flex-direction: column;
  }

  .login_Form form input {
    padding: 14px 10px;
    margin-bottom: 1.2rem;
    font-size: 16px;
    border: 1px solid #e2133a;
    border-radius: 10px;
    font-weight: bold !important;
    color: #e2133a !important;
  }

  .login_Form .otpBox {
    padding: 14px 10px;
    font-size: 21px;
    border: 1px solid #b5b2b2;
    border-radius: 4px;
    font-weight: bold !important;
    color: #b5b2b2 !important;
    width: 20%;
    text-align: center;
  }

  .otpBoxContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
  }

  .login_Form .otpBox:focus,
  .login_Form .otpBox:active {
    border: 1px solid #e2133a !important;
    color: #e2133a !important;
  }

  .otpBoxContainer input:valid {
    color: #e2133a !important;
    border-color: #e2133a !important;
  }

  /*Peer Code*/
  .login_Form .otpBox.green:focus,
  .login_Form .otpBox.green:active {
    border: 1px solid #009688 !important;
    color: #009688 !important;
  }

  .otpBoxContainer.green input:valid {
    color: #009688 !important;
    border-color: #009688 !important;
  }

  .greenPeer{
    color: #009688 !important;
  }

  .greenPeerBg{
    background: #009688 !important;
  }

  #peerCodeData{
    display: none;
  }  

  .login_Form ::-webkit-input-placeholder {
    /* Edge */
    font-weight: 300 !important;
    color: #908b8c;
  }

  .login_Form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 300 !important;
    color: #908b8c;
  }

  .login_Form ::placeholder {
    font-weight: 300 !important;
    color: #908b8c;
  }

  .login_Form form input:focus {
    outline: none;
  }

  .login_Form form button {
    outline: none;
    border: none;
    background-color: #e2133a;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }
}

@media screen and (max-width: 375px) {
  .login__bgWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .lady_Wrapper {
    width: 110px;
    position: absolute;
    z-index: 2;
  }

  @keyframes ladymove {
    from {
      top: 100px;
      left: 15px;
    }
    to {
      top: 95px;
      left: 20px;
    }
  }

  .table_Wrapper {
    width: 250px;
    position: absolute;
    left: 35px;
    top: 90px;
    z-index: 1;
  }

  .man_Wrapper {
    width: 110px;
    position: absolute;
    z-index: 2;
    transform: rotate(-6deg);
  }

  @keyframes manmove {
    from {
      top: 10px;
      left: 167px;
    }
    to {
      top: 10px;
      left: 161px;
    }
  }

  .flower_Wrapper {
    position: relative;
    top: 115px;
    left: 160px;
    z-index: 2;
  }
  .flower_Wrapper img {
    width: 30px;
  }
}

.loadingSpinner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
}

.loadingSpinner.hidden {
  visibility: hidden;
}

.loadingSpinner img {
  width: 48px;
}

.modalLoadingSection {
  position: absolute;
  right: 10px;
  top: 10px;
}

.modalLoadingSection img {
  width: 48px;
}

.modalLoadingSection.hidden {
  visibility: hidden;
}

#otpSubmitSpinner {
  position: absolute;
  right: 2px;
  top: 2px;
}

#otpSubmitSpinner img {
  width: 45px;
}

#otpSubmitSpinner.hidden {
  visibility: hidden;
}

#otpSubmitButton {
  position: relative;
}

#peerCodeSubmitButton{
  position: relative;
}

#resendOTPLabel, .resendOTPLabel {
  padding: 10px 0;
  text-align: center;
  height: 50px;
}



