.checkout nav {
  position: sticky;
  top: 0;
  background-color: #e2133a;
  box-shadow: 0px 3px 6px #e8e8e8;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 1rem 1rem;
  z-index: 100;
  margin-bottom: 1rem;
}
.newOld h3 {
    padding: 1rem;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.checkout nav ion-icon {
  font-size: 1.4rem;
  color: #fff;
}

.checkout__Empty {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

.checkout__Empty h2 {
    color: #9E9E9E;
    font-size: 18px;
    font-weight: 300;
}

.checkout hr {
  background-color: #dad8d8;
  border: none;
  height: 1px;
  margin: 1rem;
}

.checkout__Total {
  margin: 2rem 1rem;
}

.checkout__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: 300;
}

.checkout__Total h1 {
  font-size: 1rem;
  color: #000;
  font-weight: 500;
}

.checkout__Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout__Title p {
  color: #6e6e6e;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

.activeOrderCheck{
  color: #009688; font-size: 120%; position: relative; left: 6px; bottom: 1px;
}

.checkout__Title p span::before {
  content: "\20B9";
      font-size: 80%;
    padding-right: 0.1em; 
}

.activeOrderSection, 
.activeOrderSection .checkoutProduct__title, 
.activeOrderSection .checkoutCustomizedLink, 
.activeOrderSection .checkoutProduct__price,
.activeOrderSection .variantName {
  color: #a5a5a5 !important;
}


.activeOrderSection .nonVegSymbol{
  opacity: 0.3 !important;
}

.orderInfoTotal{
    color: #000000 !important;
    font-family: "roboto", sans-serif !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.orderInfoTotal::after{
    content: "\207A";
}

.emptyCartIcon{
  filter: grayscale(100%); 
  opacity: 0.4; width: 25%;
}

.checkout{
  padding-bottom: 50px;
}
