.servingTimeTtile {
  font-size: 14px !important;
  color: gray !important;
  margin-top: 10px !important;
}

.redirectingSeconds {
  margin-top: 2.5rem;
      color: #d2d2d2 !important;
    font-size: 12px !important;
}
