.header {
  position: sticky;
  top: 0;
  background-color: #e21439;
  box-shadow: 0px 3px 6px #e8e8e8;
  display: flex;
  height: 60px;
  width: 100%;
  padding: 0.8rem 1rem;
  z-index: 100;
  color: #fff;
}

.header a {
  text-decoration: none;
}

.header ion-icon {
  color: #fff;
}

.header__logo {
  width: 120px;
}

.header__rightSection {
  position: absolute;
  display: flex;
  align-items: center;
  right: 1rem;
}

.header__search {
  font-size: 1.4rem;
  margin-right: 15px;
}

.ringerBell,
.homeIcon {
  font-size: 1.4rem;
}

.ringerBell {
  margin-right: 15px;
}

.header__cart {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  color: #000;
}

.header__dot {
  width: 5px;
  height: 5px;
  background-color: #999999;
  border-radius: 50%;
  margin: 0px 8px;
}

.header__cartValue {
  color: #e2133a;
  font-size: 18px;
}

.ringerPopup_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  /* right: 0; */
  bottom: 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition: all 4s cubic-bezier(0, 0.52, 0.7, 1); */
}

.ringerPopup_innerWrapper {
  width: 95%;
  min-height: 150px;
  position: fixed;
  left: -100%;
  margin: 0 10px;
  text-align: center;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* transition: transform 0.6s ease-in; */
  transition: all 800ms cubic-bezier(0, 0.52, 0.7, 1);
  /* animation: toast-in-side 0.7s; */
  cursor: pointer; 
}

.ringerPopup_innerWrapper img{
  width: 40px;
}

.ringerPopup_innerWrapper.open,
.ringerPopup_wrapper.open {
  left: 0;
}

.ringerPopup_innerWrapper.close {
  left: -100%;
  transition: all 650ms cubic-bezier(0, 0.52, 0.7, 1);
}

.ringerPopup_wrapper.close {
  left: -100%;
  transition-delay: 650ms;
}

@keyframes toast-in-side {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.stewardBtn,
.billBtn,
.serveBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5;
    padding: 12px 0 4px 0;
    border-radius: 4px;
}

.ringerPopup_innerWrapper button {
    outline: none;
    border: none;
    color: #e2133a;
    padding: 6px 12px;
    font-size: 13px;
    background: none;
    margin-top: 2px;
}

.outletPopup_wrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -100%;
  /* transition: transform 0.6s ease-in; */
  transition: all 500ms cubic-bezier(0, 0.52, 0.7, 1);
  /* animation: toast-in-bottom 0.7s; */
}

.outletPopup_wrapper.open {
  top: 0;
  bottom: 0;
}

.outletPopup_wrapper.close {
  top: 100%;
  bottom: -100%;
  transition: all 200ms cubic-bezier(0, 0.52, 0.7, 1);
}

@keyframes toast-in-bottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateX(0);
  }
}

.outletPopup_wrapper nav {
  background-color: #e21439;
  box-shadow: 0px 3px 6px #e8e8e8;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 60px;
  width: 100%;
  padding: 0.8rem 1rem;
  z-index: 100;
  color: #fff;
}

.outletPopup_wrapper nav ion-icon {
  font-size: 1.4rem;
  color: #fff;
  float: left;
}

.outletPopup_wrapper nav h1 {
  font-size: 1.4rem;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
}

.outletPopup_imgWrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding: 0;
}

.outletPopup_imgWrapper img {
  width: 100%;
  border-radius: 0;
}

.outletPopup_details {
  position: relative;
  padding: 2rem 1rem;
  color: #333;
}

.outletPopup_details > div {
  margin-bottom: 1.5rem;
}

.outlet__Address,
.outlet__Name,
.outlet__openHours,
.outlet__Mobile,
.outlet__email {
  justify-content: space-between;
}

.outlet__Mobile .tagName {
  color: #2196f3;
  font-size: 10px;
  margin-left: 0.5em;
}

.outletPopup_details h3 {
  font-size: 1em;
  font-weight: 300 !important;
}

.outletPopup_details p {
  color: #e21439;
  font-weight: 400;
}

.outletPopup_details a {
  color: #e21439;
  font-weight: 400;
  text-decoration: none;
}
