.search {
    min-height: 100vh;
    background-color: #f7f7f7;
}

.search nav {
    height: 55px;
    padding: 0.8rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(40, 44, 63, .2);
}

.search nav ion-icon {
    color: #000;
    font-size: 1.4rem;
}

.search nav input {
    width: 100%;
    margin: 0 1rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    font-weight: 300;
}

.noSearchResultsLabel {
    text-align: center;
    margin-top: 40px;
    font-size: 12px;
    color: #6d6d6d;
}