.qr__Wrapper {
  background-color: #e2133a;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_Wrap {
  width: 250px;
}

.logo_Wrap img {
  width: 100%;
}

.qr__Scan {
  /* width: 200px; */
  width: 0;
}

.qr__Btn input[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: auto;
  padding: 10px 14px;
  border-radius: 40px;
  outline: none;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  margin: 2rem 0;
  font-size: 14px;
}

.qr__Btn input[type="button"]:focus {
  background: #fff;
  color: #e2133a;
}

.qr__Result a {
  color: #fff;
  font-weight: 500;
}

.qr__Result p {
  color: #fff;
}

.qr__Instruct {
  position: absolute;
  bottom: 0;
  text-align: center;
}

.qr__Instruct p {
  color: #fff;
  margin: 1rem;
}
